
<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1 class="display-4">Rohot MArudut Tua Silaban</h1>
            <p class="lead">Perserta Bootcap WGS 5</p>
            <img src="../23.jpeg", alt="Windows XP" width="800" height="600">
        </div>
    </div>
</div>

