

    <h3>Tabel Contact</h3>
    <table border="3" style="width: 50%;">
        <tr>
            <td>Nama</td>
            <td>No. Telpon</td>
        </tr>
            <% if(data.length > 0 ){data.forEach(function(dat) { %>
                <tr>
                    <td><%= dat.nama %></td>
                    <td><%= dat.noTelpon%></td>
                </tr>
                
            <% })} else {  %>
                <tr>
                    <td colspan="2">data Not Found</td>
                </tr>
         <%   }; %>
    </table>

    <% const name = "Rohot M.T. Silaban"%>
    <h1>Web server Node JS</h1>
    <p>welcome to My Page <%= name%></p>


