<% if(msg == '01'){%>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    Contact already exist
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% } else if( msg == '02'){%>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    Nuber Format Contact is wrong
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% } %>

<h3 class="text-center">Tambah Data Contact</h3>

<div class="container" >
<div class="d-flex justify-content-center">
<form action="/contact/tambah" method="post"  style="width: 600px;">
        <div class="mb-3">
            <label for="name" class="form-label">name</label>
            <input type="text" class="form-control" id="name" name="name" required>
          </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" name="email" required>
          </div>
          <div class="mb-3">
            <label for="mobile" class="form-label">No. Telpon</label>
            <input type="text" class="form-control" id="mobile" name="mobile" required>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</div>
