<h2 class="text-center">Contact Ditail</h2>

<% console.log(data) %>

<% if(data != null ){  %>
    
    <h4 class="text-center"><%= data.name%></h4>
    <p class="text-center"><%= data.email%></p>
    <p class="text-center"><%= data.mobile%></p>
    
 <% } else {  %>
    <h4 class="text-center">Ditail Contact Tidak ada</h4>
<%   }; %>